__pycache__
README.md
perfgen.egg-info/dependency_links.txt
perfgen.egg-info/PKG-INFO
perfgen.egg-info/SOURCES.txt
perfgen.egg-info/top_level.txt
perfgen.egg-info/requires.txt
expes/checkpoints/*
checkpoints/*
test.ipynb
wandb
runs/*